# tuplas y strings

# Cadenas (_strings_)

Una cadena es una secuencia de caracteres. Las cadenas son similares a las listas pero más específicas, ya que solo puede contener caracteres.

Para definir una cadena en Python usamos comillas simples `'` o dobles `"`. Lo más común es usar comillas simples

In [47]:
'hola'

'hola'

Las comillas triples son usadas cuando necesitamos escribir una cadena en varias lineas, como cuando vimos `docstrings`.

Es posible indexar una cadena usando la misma sintaxis que la usada para las listas. Al igual que con las listas los índices empiezan en cero.

In [52]:
cadena = 'hola mundo'
cadena[5]

'm'

Además podemos hacer otras operaciones como tomar rebanadas _slices_

In [53]:
cadena[:5]

'hola '

In [54]:
cadena[::-1]

'odnum aloh'

Otra operación común con entre listas y cadenas es la función `len`, en el caso de las cadenas esta función devuelve el número de caracteres

In [55]:
len(cadena)

10

Las cadenas son además `iterables`

In [56]:
for c in cadena:
    print(c, end=',')

h,o,l,a, ,m,u,n,d,o,

In [57]:
[c for c in cadena]  # o de forma similar usando una lista por comprensión

['h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

Una diferencia con las listas es que las cadenas son inmutables, es decir una vez creada no pueden ser modificacas. Por lo que siguiente operación es inválida

In [58]:
cadena[0] = 'f'

TypeError: 'str' object does not support item assignment

El error nos dice que el `objeto str` (en este caso `cadena`) no soporta la operación de asignación de item.

## Métodos de cadenas

Un método es similar a una función, pero con una sintáxis diferente. Cuando veamos programación orientada a objetos quedará claro su significado.

Las cadenas tienen muchos métodos, por ejemplo `upper` devuelve una nueva cadena donde todos los caractéres están en mayúsculas.

In [28]:
cadena.upper()

'HOLA MUNDO'

Noten que la sintaxis no es `upper(cadena)`, como en una función si no que es `objeto.método()`.

Otro método es `split`, el cual permite separar una cadena en una lista de caracteres. Por defecto el separardor es un espacio en blanco

In [30]:
cadena.split()

['hola', 'mundo']

Pero podemos usar otros caracteres

In [35]:
cadena.split('a')

['hol', ' mundo']

In [99]:
', '.join(['trenes', 'camiones', 'tractores'])

'trenes, camiones, tractores'

In [92]:
cadena.isalpha() #  devuelve verdadero si los caracteres son alfabéticos

False

In [93]:
cadena[:4].isalpha()

True

In [94]:
'42a'.isalnum()  # devuelve verdadero si los caracteres son alfanuméricos

True

In [95]:
'42a'.isnumeric()  # devuelve verdadero si los caracteres son numéricos

False

In [96]:
'hola'.startswith('hola')

True

## Operadores válidos para cadenas

Usando el operador `in` podemos preguntar si un caracter (o una subcadena) está contenido en una cadena

In [38]:
'h' in cadena

True

In [39]:
'hola' in cadena

True

In [43]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)

in_both('peras', 'manzanas')

a
s

In [46]:
cadena == 'banana'

False

In [61]:
'casa' < 'caza'

True

In [69]:
cadena + '!' * 3

'hola mundo!!!'

# Tuplas

Una tupla es una colecciones de valores, los valores pueden ser de cualquier tipo en ese sentido las tuplas se parecen a las listas, pero las tuplas son inmutables y en ese sentido se parecen a las cadenas.

In [103]:
una_tupla = 42, 23, 13
una_tupla

(42, 23, 13)

In [102]:
Aunque no es necesario es común encerrar una tupla entre paréntesis

(42, 23, 13)

In [106]:
otra_tupla = 42, 23, 13

Ambas formas son equivalentes:

In [109]:
una_tupla == otra_tupla

True

In [110]:
t1 = 'a',
t2 = ('a')

type(t1), type(t2)

(tuple, str)

In [112]:
t = tuple('hola mundo')
t

('h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o')

La mayoría de las operaciones válidas para listas lo son también para tuplas

In [113]:
t[5]

'm'

In [115]:
t[:4]

('h', 'o', 'l', 'a')

Excepto las que modifican una tupla, ya que como dijimos anterioremente las tuplas son inmutables

In [120]:
t[0] = 'j'

TypeError: 'tuple' object does not support item assignment

## Asignación de tuplas

In [124]:
a, b = 3, 45

a, b

(3, 45)

La cantidad de elementos a ambos lados del `=` deben ser los mismos, caso contrario obtendremos un error

In [132]:
a, b, = 3, 45, 2

ValueError: too many values to unpack (expected 2)

Salvo que usemos la siguiente sintáxis

In [134]:
a, *b, = 3, 45, 2
a, b

(3, [45, 2])

In [136]:
email = 'monty@python.org'
usuario, dominio = email.split('@')

usuario, dominio

('monty', 'python.org')

Las funciones en Python solo pueden devolver un solo valor, por lo que uno podría pensar que la siguiente no es una función válida. Sin embargo la siguiente función si es valida, por que la función efectivamente devuelve un solo valor, una tupla con dos elementos.

In [142]:
def min_max(t):
    return min(t), max(t)

min_max([0, 13, 42, 100])  ## use la función type para probar que está función devuelve una tupla

(0, 100)